%h1 Profiles
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.profile.name", :default => t("activerecord.labels.name", :default => "Name"))
      %th Created at
  %tbody
    - @profiles.each do |profile|
      %tr
        %td= profile.id
        %td= link_to profile.name, profile_path(profile)
        %td= profile.created_at

