%h1 
  The profile of  
  = @user.email
  
%table{ :class => "table table-striped" }
  - @wikipages.each do |wikipage|  
    %tr
      %td
        = render :partial => "shared/wikipage", :locals => {:wikipage => wikipage} 
