.row
	.span5
		%h1= @wikipage.title

	.span3
		<ul class="nav nav-pills">
		<li class="dropdown">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		Add to group
		<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
		%li <a>Group 1</a>
		</ul>
		</li>
		%li= link_to "Back", :back, :class => 'btn'
		%li= link_to "Edit", edit_wikipage_path(@wikipage), :class => 'btn'
		</ul>

.row
	.span8
		%p= @wikipage.body

