= form_for @group, :url => group_path(@group), :html => { :class => "edit_group", :id => "edit_group" } do |f|
  %input{:name => "_method", :type => "hidden", :value =>"put"}
  = render :partial => "form", :locals => {:f => f}
