.row
	.span12
		.page-header
			.row
				.span8
					%h1 Groups
				.span4
					= link_to "Create a group",new_group_path ,:class => "btn btn-large pull-right"


.row
	- @groups.each do |group|
		.span4
			= render group

