.well.alert
	%p Hey it seems you are new! You can do the following!
	%ul
		%li
			%i.icon-zoom-out
			Explore existing groups or create your own group!
		%li
			%i.icon-user
			Explore people and follow who you like!
		%li
			%i.icon-book
			Explore existing wiki pages, create your own!

