/*
 *= require bootstrap_and_overrides
 */

/*
 *= require jquery.ui.all
 */

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

#social-stream-table {
	height:300px;
	overflow-y: auto;
	overflow-x: hidden;
	display: block;
}

#content-stream-table {
	height:375px;
	overflow-y: auto;
	overflow-x: hidden;
	display: block;
}

.stream-table {
	height:400px;
	overflow-y: auto;
	overflow-x: hidden;
	display: block;
}

