// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-publisher {
  padding: 1em;
  border-style: outset;
  background-color: gray;
  height: 150px;
}

#user-publisher {
  #post_text {
    width: 98%;
    height: 100px;
  }
}

#user-publisher {
  .btn {
    float: right;
  }
}

#social-stream {
  padding-top: 1em;
}

#social-stream {
  .post{
    padding-top: 0.5em;
    background-color: #999;
    padding-left: 0.5em;
    color: black;
  }
}
#social-stream {
  .post_body {
    padding-left: 1em;
  }
}

#social-stream {
  .post_link {
    background-color: gainsboro;
    width: 98%;
  }
}
